body {
    background-color: rgb(242, 208, 166);
}   

body h1 {
    text-align: center;
    font-size: 3em;
}

body img {
    height: auto;
    width: 500px;
    align-items: center ;
}

li {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:larger;
    background-color: rgb(255, 166, 0);
}

