body {
    background-color: rgb(242, 208, 166);
}   

p {
    padding-left: 20px;
    font-size: 18px
}

body h1 {
    text-align: center;
    font-size: 3em;
    border-bottom: black solid 2px;
    border-radius: 20px;
}

body img {
    height: auto;
    width: 500px;
}

li {
    font-family: 'Brush Script MT', cursive;
    font-size:larger;
        padding: 5px;
    margin: 5px;
}

.homepg li {
    background-color: rgb(255, 166, 0);
}

h2.homepg {
    background-color: azure;
    padding: 10px;
}

.header1 {
    color: rgb(255, 0, 0);

}

.header2 {
    color: rgb(255, 123, 0);

}

.header3 {
    color:rgb(0, 171, 31)
}

.header4 {
    color:mediumblue

}

.header5 {
    color: blueviolet;

}
#about {
    font-size: larger;
    font-weight: 300;
    font-style: italic;
}

.webpg {
    padding: 10px;
}

h2.desc,
h2.ingrdt,
h2.steps {
    background-color: gainsboro;
}
